{% load i18n %}
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#filter" title="{% trans 'Filters' %}" role="tab"><i class="fa fa-filter"></i></a></li>
                <li><a onclick="showCommonRoutes()" title="CommonRoutes" role="tab"><i class="fa fa-route"></i></a></li>
                <li><a href="#search" title="{% trans 'Search' %}" role="tab"><i class="fa fa-search"></i></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fas fa-cog"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    {% trans "Map Komun" %}
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <br>
                <p>
                  {% trans "The <b>Komun Mapo</b> is a collaborative map which gives a global overview of various initiatives which strive towards a <b>Commons Economy</b>: places and services which accept alternative currencies, FairCoin, Points of Exchange, local nodes, social currencies, eco-networks, food groups, fair B&Bs, product routes and shared vehicles... <a href='https://komun.org' target='_blank'>Visit our main page!</a> Search, find, share and add yourself! Contribute to generate alternatives which transform our surroundings through the <b>Integral Revolution</b>."%}

                </p>
                <a href="/statics/img/komun_ecosystem_es.jpg" target="_blank"><img style="width:100%;" src="/statics/img/komun_ecosystem_es.jpg" /></a>
            </div>

            <div class="sidebar-pane" id="filter">
                <h1 class="sidebar-header">{% trans "Filters"%}<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <div class='checkbox'>
                          <label><input onclick="clickAllFilters()" id='allCheckbox' type='checkbox' value='' checked >{% trans "All"%}</label>
                        </div>
                <div id="filtersList"></div>
                <hr>
                <!-- <button onclick="applyFilters()" type="button" class="btn btn-outline-dark float-right">Update</button> -->
            </div>
            <div class="sidebar-pane" id="search">
                <h1 class="sidebar-header">{% trans "Search"%}<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <p>
                  <input onkeydown="search()" id="searchinput" type="text" class="form-control" placeholder="{% trans 'Search'%}">
                  <br>
                  <!-- <button onclick="search()" type="button" class="btn btn-outline-dark float-right">Search</button> -->
                  <div id="searchResults">

                  </div>
                </p>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">{% trans "Settings"%}<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <p>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">{% trans "Language"%}</label>
                    <select onchange="changeLanguage()" class="form-control" id="lang">
                      <option value="es">Castellano</option>
                      <option value="ca">Català</option>
                      <option value="sr">српски</option>
                      <option value="en">English</option>
                      <option value="fr">Français</option>
                      <option value="it">Italiano</option>
                    </select>
                  </div>
                </p>
            </div>
        </div>
    </div>
    <div id="loadingbar">
      <div class="cssload-loader-inner">
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    	</div>
    </div>

    <div id="map" class="sidebar-map">
       <span class="mapheader">{{map_header}}</span>
    </div>
    <div class="registerButtonBox">
      <a href="/accounts/register/" class="btn btn-outline-dark">{% trans "Register"%}</a>
      <a href="/accounts/login/" class="btn btn-outline-dark">{% trans "Login"%}</a>
    </div>
    <div id="rightCard" class="card">
    </div>


    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <!-- leafletjs marker cluster -->
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
    <script src="/statics/js/leaflet-sidebar.js"></script>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
    <script type="text/javascript">
        var language = "{{language}}";
    </script>
    <script src="/statics/index.js?{{index_js_version}}"></script>
    <script src="/statics/commonroutes.js"></script>
