<p>{%if icon_name %}<img src="{{base_url}}/statics/img/categories/{{ icon_name }}_black.svg">{%endif%}
    <b><a href="{{base_url}}/?placeid={{ obj.slug }}">{{ obj.title }}</a></b> ({{ obj.language }})
</p>
<b><a href="{{base_url}}/admin/pages/{{ obj.id }}/edit/">Edit in admin</a></b> (id: {{ obj.id }})
<p>Owner: {{obj.owner}}</p>
<p>Date: {{obj.first_published_at}}</p>
{%if image_url_html %}
    <p>{{ image_url_html|safe  }}</p>
{%endif%}
<p><i>{{ obj.intro|safe }}</i></p>
<p>{{ body|safe }}</p>
{%if obj.faircoin_address %}
    <p><img src="https://api.qrserver.com/v1/create-qr-code/?data=fHe67HH8WWR5vA6oPNTyefKbbuABh8sxz9&size=100x100"></p>
    <p><a href="https://chain.fair.to/address?address={{ obj.faircoin_address}}">{{ obj.faircoin_address}}</a></p>
{%endif%}
{%if tags %}
    {% for t in tags %}#{{t}} {% endfor %}
{%endif%}
