{% load wagtailimages_tags %}
<div class="card-body">
  <div class="btn btn-light float-right" onclick="hideRightCard()">X</div>
  <h5 id="rightCard-title" class="card-title">{{name}}</h5>
  <div id="rightCard-categories">
      {% for slug, c in categories.items %}
          <img style="width:30px; height:30px;"
           src="/statics/img/categories/{{c.icon_name}}_black.svg"
           title="{{c.name}}"/>
      {% endfor %}
  </div>

  <img id="rightCard-img" class="sc-card-img-top {%if not picture_url %}hidden{% endif %}" src="{{picture_url}}" alt="img">
      {%if body %}{{body|safe}}{%endif%}
  {%if point.assembly_notes%}
    <div id="rightCard-text" class="card-text">
     <b>Assembly Notes: </b>{{point.assembly_notes}}
     </div>
  {%endif%}
  <div id="rightCard-text" class="card-text">
      {% for t in tags %}
        <span class="badge badge-danger">{{t}}</span>
      {% endfor %}
  </div>
<div class="card-text">
 {%if point.url%}
    <a id="rightCard-web" href="{{point.url|safe}}" class="card-link" target="_blank"><i class='fas fa-home fa-lg'></i></a>
 {%endif%}
 {%if point.mastodon%}
    <a id="rightCard-mastodon" href="{{point.mastodon|safe}}" class="card-link" target="_blank"><i class='fab fa-mastodon fa-lg'></i></a>
 {%endif%}
 {%if point.twitter%}
    <a id="rightCard-twitter" href="{{point.twitter|safe}}" class="card-link" target="_blank"><i class='fab fa-twitter fa-lg'></i></a>
 {%endif%}
 {%if point.facebook%}
    <a id="rightCard-facebook" href="{{point.facebook|safe}}" class="card-link" target="_blank"><i class='fab fa-facebook fa-lg'></i></a>
 {%endif%}
 {%if point.telegram%}
    <a id="rightCard-telegram" href="{{point.telegram|safe}}" class="card-link" target="_blank"><i class='fab fa-telegram fa-lg'></i></a>
 {%endif%}

 {%if point.contact%}
    <div class="card-text">
    <a id="rightCard-phone" class="card-link" target="_blank"><i class='fas fa-at fa-lg'></i></a> {{point.contact|safe}}
    </div>
 {%endif%}
</div>
 <!-- <div class="col-md-4 center-block">
     <br>
     <a href="" target="_blank" class="btn btn-danger" role="button">Join this network!</a>
 </div> -->
</div>
