{% extends "base.html" %}
<!--{% load  static  %}-->
<!--{% load wagtailcore_tags wagtailimages_tags i18n %}-->

{% block extra_head %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->

    <!-- leafletjs marker cluster -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />

    <link rel="stylesheet" href="/statics/style.css" />
    <link rel="stylesheet" href="/statics/css/sidebar-loader.css" />


    {{meta_opengraph|safe}}
{% endblock %}
{% block content %}
    {% include template_base_file %}
<!--
{% get_current_language as LANGUAGE_CODE %}
<script>
var jsSiteUrl = 'https://map.komun.org'; var jsBaseResourceUrl = '/static/images/';
var LANG_CODE = '{{ LANGUAGE_CODE }}';
</script> -->
<!-- <script src="/static/js/home.js"></script> -->

{% endblock %}
