{% load i18n %}
{% load wagtailimages_tags %}
<div class="card-body">
  <div class="btn btn-light float-right" onclick="hideRightCard()">X</div>
  <h5 id="rightCard-title" class="card-title">{{title}}</h5>

  <div id="rightCard-categories">
      {% for slug, c in categories.items %}
          <img style="width:30px; height:30px;"
           src="/statics/img/categories/{{c.icon_name}}_black.svg"
           title="{{c.name}}"/>
      {% endfor %}
  </div>
  {% if translations|length > 1 %}
  Other languages:
      {% for t in translations %}
          {% if t.iso != txt_language %}<a href="{{ t.url }}" class="btn-small btn-danger" role="button">{{t.iso}}</a>
          {% endif %}
      {% endfor %}
  <hr>
  {% endif %}
  <img id="rightCard-img" class="card-img-top {%if not picture_url %}hidden{% endif %}" src="{{picture_url}}" alt="img">

  <div id="rightCard-text" class="card-text">
      {%if intro %}<p><i>{{intro}}</i></p>{%endif%}

      {%if point.faircoin_use or point.socialcurrency_use%}
        <p>{% trans 'Accepts:' %}
            {%if point.faircoin_use%} <img style="width:30px; height:30px;" src="/statics/img/categories/faircoin_black.svg"
                   title="FairCoins"/>{% endif %}

            {%if point.socialcurrency_use %} <img style="width:30px; height:30px;" src="/statics/img/categories/socialcurrency_black.svg"
                   title="{% trans 'LETS / Social Currency:' %}{{point.socialcurrency_account}}"/>{% endif %}
        </p>
      {% endif %}

      {{body|safe}}
      {% for t in tags %}
        <span class="badge badge-danger">{{t}}</span>
      {% endfor %}
  </div>
  {%if gallery_images|length > 0 %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>

              </ol>
              <div class="carousel-inner">
                  {% for im in gallery_images %}
                      <div class="carousel-item {%if forloop.counter0 == 0 %}active{% endif %}">
                          <a href="{{im.original_url}}" target="_blank">
                            <img class="d-block w-100" src="{{im.thumb_url}}"
                              alt="{{im.caption}}"
                              title="{{im.caption}}">
                          </a>
                      </div>
                   {% endfor %}
             </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
  {%endif%}

{%if point.phone%}
     <div class="card-text">
     <a id="rightCard-phone" href="tel:{{point.phone|safe}}" class="card-link" target="_blank"><i class='fas fa-phone fa-lg'></i></a> {{point.phone|safe}}
     </div>
{%endif%}
{%if email_parts%}
     <div class="card-text">
     <a id="rightCard-email" class="card-link" target="_blank"></a> {{email_parts.0|safe}}<i class='fas fa-at fa-lg'></i>{{email_parts.1|safe}}
     </div>
{%endif%}
<div class="card-text">
 {%if not point.public_address%}
    <a id="rightCard-address" href="geo:{{lat}},{{lon}}" class="card-link" target="_blank"><i class='fa fa-map-marker fa-lg'></i></a>
 {%endif%}
 {%if point.website%}
    <a id="rightCard-web" href="{{point.website|safe}}" class="card-link" target="_blank"><i class='fas fa-home fa-lg'></i></a>
 {%endif%}
 {%if point.mastodon%}
    <a id="rightCard-mastodon" href="{{point.mastodon|safe}}" class="card-link" target="_blank"><i class='fab fa-mastodon fa-lg'></i></a>
 {%endif%}
 {%if point.twitter%}
    <a id="rightCard-twitter" href="{{point.twitter|safe}}" class="card-link" target="_blank"><i class='fab fa-twitter fa-lg'></i></a>
 {%endif%}
 {%if point.facebook%}
    <a id="rightCard-facebook" href="{{point.facebook|safe}}" class="card-link" target="_blank"><i class='fab fa-facebook fa-lg'></i></a>
 {%endif%}
 {%if point.telegram%}
    <a id="rightCard-telegram" href="{{point.telegram|safe}}" class="card-link" target="_blank"><i class='fab fa-telegram fa-lg'></i></a>
 {%endif%}
 </div>

 {%if point.public_address%}
    <div class="card-text">
        <a id="rightCard-address" href="geo:{{lat}},{{lon}}" class="card-link" target="_blank"><i class='fa fa-map-marker fa-lg'></i> {{point.public_address|safe}}</a>
    </div>
 {%endif%}
 {%if point.show_qr and point.faircoin_use and point.faircoin_address%}
     <br>
     {% trans 'FairCoin donations to:' %}
     <div class="card-text">
         <img class="img-fluid product-image" onclick="copyToClipboard('{{point.faircoin_address}}')" style="cursor: pointer;" alt="{{point.faircoin_address}}" src="https://api.qrserver.com/v1/create-qr-code/?data={{point.faircoin_address}}&size=150x150">
         <br><span style="word-break: break-all; ">{{point.faircoin_address}}</span> <button onclick="copyToClipboard('{{point.faircoin_address}}')"><i class="far fa-clone"></i></button>
         <div id="alert_copied" style="display:none" class="alert alert-success alert-dismissable">
                {% trans 'Address copied.' %}
         </div>
     </div>
 {%endif%}

{%if point.owner.username ==  'admin' %}
 <div class="col-md-4 center-block">
     <br>
     <a href="http://t.me/komun_en" target="_blank" class="btn btn-danger" role="button">{% trans 'Claim this place to edit it!' %}</a>
 </div>
{%endif%}
</div>
