{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block content %}
<div class="container">
  <div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
  <h2>{% trans "Login"%}</h2>
  <form method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}

    <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  </div>

  </div>
  <hr/>
  <div class='row'>
  <div class='col-sm-6 col-sm-offset-3 text-align-center'>
  <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
  <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
  </div>
  </div>
</div>
{% endblock %}
