{% load home_tags cache compress static wagtailuserbar %}
{% load wagtailcore_tags %}

{% load i18n %}

     <ul class="navbar-nav">
         <li class="nav-item dropdown">
         {% get_available_languages as LANGUAGES %}
         {% get_current_language as LANGUAGE_CODE %}
         {% get_language_info_list for LANGUAGES as languages %}
         {% for language in languages %}
             {% if language.code == LANGUAGE_CODE %}
               <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 {{ language.name_local|title }}
               </a>
              {% endif %}
          {% endfor %}
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for language in languages %}
                  {% if not language.code == LANGUAGE_CODE %}
                       <a class="dropdown-item" href="{% change_lang language.code %}">{{ language.name_local|title }}</a>
                  {% endif %}
               {% endfor %}
           </div>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/accounts/login/">Iniciar sesión</a>
         </li>
         </ul>
    