body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.registerButtonBox {
  position: absolute;
  right: 15px;
  top: 30px;
  z-index: 2000;
}
.lvl2 {
  margin-left: 30px;
}

.card-text{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mapheader{
    display: table; /* keep the background color wrapped tight */
    /*margin: 0px auto 0px auto;  keep the table centered */
    margin-left: 40%;
    padding:5px;
    text-align: center;
    font: 14pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 10px;
    z-index: 500!important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    background-color:rgba(212,0,0,0.2);
}

@media (max-width: 600px) {
    .mapheader{
        /* display: table; /* keep the background color wrapped tight */ */
        /*margin: 0px auto 0px auto;  keep the table centered */
        padding:5px;
        margin-left: 0;
        color: black;
        background-color:rgba(212,0,0,0.2);
        font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        position: fixed;
        bottom: 10px;
        z-index: 500!important;
    }
}

.sc-card-img-top {
    width: auto !important;
    display: block;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}

#rightCard {
  position: absolute;
  right: -300px;
  top: 0;
  max-width: 300px;
  max-height: 100%;
  overflow-y: scroll;
  z-index: 2000;
  background: #ffffff;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}
.rightCard-show {
  right: 0px!important;
}
.hidden {
  visibility: hidden;
}
.marker {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* box-shadow: 0 0 5px 5px rgba(66, 134, 244, 0.2); */
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}
/* .marker:hover {
  border: 2px solid #000000;
} */

.routeMarker {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(65, 202, 244);
  box-shadow: 0 0 5px 5px rgba(65, 202, 244, 0.2);
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}
.lnMarker {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(43, 216, 129);
  box-shadow: 0 0 5px 5px rgba(43, 216, 129, 0.2);
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}
.marker-red {
  box-shadow: 0 0 5px 5px rgba(244, 78, 66, 0.2)!important;
}
.marker-blue {
  box-shadow: 0 0 5px 5px rgba(63, 154, 244, 0.2)!important;
}
.slide {
     margin-top: 15px;
     margin-bottom: 15px;
}
